.destination-details {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  max-width: 80%;
  width: 400px;
}

.destination-details.visible {
  opacity: 1;
  visibility: visible;
}

.destination-details h2 {
  margin-top: 0;
  font-size: 1.8rem;
}

.destination-details p {
  margin-bottom: 0;
  font-size: 1rem;
}
