.no-webgl-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #000;
  text-align: center;
  padding: 20px;
}

.no-webgl-message {
  font-family: sans-serif;
  font-size: 1.2rem;
  max-width: 400px;
  line-height: 1.5;
}
